<!--code cua file nay la template cho file index.html-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First App</title>
</head>
<body>

  <!--viec du lieu nhap den dau duoc hien thi ngay lap tuc den do la dac diem single page application cua angular-->
  <input type="text" [(ngModel)]="authorProject">
  <p>You just typed: {{authorProject}}</p>
  <p>Button below will be clickable after 2s</p>
  <button [disabled]="statusFlag" (click)="toggleState()">Change state</button>
  <h4>State: {{state}}</h4>
  <hr>
  <input type="text" [(ngModel)]="name" placeholder="Enter your name">
  <p>Name: {{name}}</p>
  <button [disabled]="checkName()" (click)="setBlank()">Set name to blank</button>
</body>
</html>